<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Missionaries and Cannibals</title>
    <link href="../../template/MissionariesAndCannibals_Template.css" rel="stylesheet"/>
</head>
<body>

<div class="title"> Missionaries and Cannibals </div>

<div class="info">
    Depth: %depth%
</div>

<div class="state-mainContent">
    <div id="figure" class="state-figure">
        <div id="islandW" class="state-islandW">
            <div id="island-boat" class="island-boat" style="%hiddenBoatW%">
                <div class="boat-sail"></div>
                <div class="boat-base"></div>
            </div>
            <div class="island-sand">
                <div class="island-text"> %islandW% </div>
            </div>
        </div>
        <div id="water" class="state-water"></div>
        <div id="islandE" class="state-islandE">
            <div id="island-boat" class="island-boat" style="%hiddenBoatE%">
                <div class="boat-sail"></div>
                <div class="boat-base"></div>
            </div>
            <div class="island-sand">
                <div class="island-text"> %islandE% </div>
            </div>
        </div>
    </div>
</div>

</body>

%navigationScript%

</html>
